/* Font */
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
}

:root {
    --color-content: #E2E8F0;
    --color-sidebar: #1992D4;
    --color-card-edge: #F0B429;
}

body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
    font-family: 'Roboto', sans-serif;
}

ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

li {
    list-style-type: none;
}


/* a */
a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
}

.sidebar a {
    color: white;
}

.sidebar a:hover {
    text-shadow: 0 0 10px black;
}

.gh-link {
    align-items: end;
    gap: 0.5rem;
    margin-left: 0.5rem;
}

.header-top a {
    color: black;
    font-weight: bold;
}

.header-top a:hover {
    text-shadow: 0 0 10px grey;
}

.side-2 a {
    color: black;
}

.side-2 a:hover {
    font-weight: bold;
}

/* input */
input {
    background-color: var(--color-content);
    width: 80%;
    line-height: 2rem;
    border-radius: 1rem;
    border: none;
    text-indent: 1rem;
}

input:focus {
    outline: 1px solid var(--color-sidebar);
}

input:hover {
    box-shadow: 0 0 10px var(--color-sidebar);
}

/* button */
.header-top button,
.card-bottom button {
    border: none;
    background-color: transparent;
    border-radius: 10px;
}

.header-top button:hover,
.card-bottom button:hover {
    box-shadow: 0 0 20px var(--color-card-edge);
    background-color: hsl(42, 87%, 80%);
}

.header-bottom button {
    background-color: var(--color-sidebar);
    color: white;
    border: none;
    height: 2.5rem;
    width: 6rem;
    border-radius: 1.5rem;
    font-weight: bold;
}

.header-bottom button:hover {
    box-shadow: 0 0 10px var(--color-sidebar);
}

.sidebar {
    background-color: var(--color-sidebar);
    color: white;
    grid-row: 1 / -1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sidebar div:nth-child(1) {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar ul {
    font-size: 1.5rem;
}

.header {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding: 2rem 3rem;
}

.header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    margin-right: 2rem;
}

.header-top div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-top div:nth-child(2),
.header-bottom div:nth-child(2) {
    justify-self: end;
}

.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.header-bottom > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-bottom img+div,
.side-2 .card-content div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.header-bottom img+div {
    font-weight: bold;
}

.header-bottom img+div > div:nth-child(2) {
    font-size: 1.5rem;
}

.content {
    background-color: var(--color-content);
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    padding: 2rem;
    gap: 2rem;
}

.title {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.main-title, .side-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card {
    background-color: white;
    border-radius: 0.5rem;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.main .card {
    height: 250px;
    border-left: 0.5rem solid var(--color-card-edge);
    padding: 1rem 1rem 0 1rem;
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.card-bottom {
    display: flex;
    justify-self: end;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

@media (max-aspect-ratio: 4/3), (min-height: 1440px) {
    .side {
        justify-content: flex-start;
    }
}

.side-1 .card {
    display: grid;
    grid-template-rows: 1fr 0.1fr 1fr 0.1fr 1fr;
    gap: 0.5rem;
    padding: 2rem;
    align-content: space-between;
}

.side-1 .divider {
    border-bottom: 1px solid lightgrey;
}

.side-1 .card-content div:nth-child(1) {
    margin-bottom: 0.5rem;
}

.side-1 .card-content div:nth-child(2) {
    height: 3.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
}

.side-2 .card {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    padding: 2rem;
}

.side-2 .card-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.side-2 .card-content div > div:nth-child(2) {
    color: hsl(0, 0%, 40%);
}

/* img */
li img {
    height: 2rem;
}

.gh-link img {
    height: 1.5rem;
}

button img,
#search-icon {
    height: 1.5rem;
}

.profile {
    height: 4rem;
    border: 1px solid var(--color-sidebar);
    border-radius: 2rem;
}
